<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anningtex.splashtwotest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".five.SplashActivity" />
        <activity android:name=".five.LoginActivity" />
        <activity android:name=".act.FiveActivity" />
        <activity android:name=".four.WelcomeGuideActivity" />
        <activity android:name=".act.FourActivity" />
        <activity android:name=".act.ThreeActivity" />
        <activity android:name=".OtherActivity" />
        <activity android:name=".act.TwoActivity" />
        <activity android:name=".act.OneActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>